.registro-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-back {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  